ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

form{
	text-align: left;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
}

.left{
	position: relative;
	left: 0px;
	padding: 10px;
}

.right{
	float: right;
}

.bottom{
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-top: 5px;
	background-color: #f2f2f2;
}

.divider{
	width: 10px;
	height: auto;
	display: inline-block;
}

#viewport{
	margin-top: 175px;
	width: 50%;
}

#search-form{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#search-bar{
	border-radius: 30px;
    border: 2px solid #000;
    padding: 20px; 
    width: 80%;
    height: 10px;
}

#button-section{
	padding: 10px;
}

#bottom-bar{
	border-top: 1px solid #bbb;
}